.app-font-8px {
  font-size: 8px;
}

.app-font-10px {
  font-size: 10px;
}

.app-font-12px {
  font-size: 12px;
}

.app-font-14px {
  font-size: 14px;
}

.app-font-16px {
  font-size: 16px;
}

.app-font-18px {
  font-size: 18px;
}

.app-font-20px {
  font-size: 20px;
}

.app-font-22px {
  font-size: 22px;
}

.app-font-24px {
  font-size: 24px;
}

.app-font-28px {
  font-size: 28px;
}

.app-font-32px {
  font-size: 32px;
}

.app-font-36px {
  font-size: 36px;
}

.app-font-40px {
  font-size: 40px;
}

.app-font-42px {
  font-size: 42px;
}

.app-font-44px {
  font-size: 44px;
}

.app-font-48px {
  font-size: 48px;
}

.app-font-64px {
  font-size: 64px;
}

.app-font-72px {
  font-size: 72px;
}

.app-font-80px {
  font-size: 80px;
}